<body>
    <form action="/submit" method="POST">
        Amount: <input type="text" name="amount">
        Account Name: <input type="text" name="accountName">
        <button type="submit">Submit</button>
    </form>
  </body>